
/*-----Fonts------*/
@font-face {
	font-family: 'Gilam';
	font-display: swap;
	src: url("../fonts/Gilam-Trial-Bold.eot");
	src: url("../fonts/Gilam-Trial-Bold.woff") format("woff"), 
         url("../fonts/Gilam-Trial-Bold.woff2") format("woff2"), 
			url("../fonts/Gilam-Trial-Bold.ttf") format("truetype"), 
         url("../fonts/Gilam-Trial-Bold.otf") format("otf"), 
			url("../fonts/Gilam-Trial-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gilam';
	font-display: swap;
	src: url("../fonts/Gilam-Trial-SemiBold.eot");
	src: url("../fonts/Gilam-Trial-SemiBold.woff") format("woff"), 
         url("../fonts/Gilam-Trial-SemiBold.woff2") format("woff2"), 
			url("../fonts/Gilam-Trial-SemiBold.ttf") format("truetype"), 
         url("../fonts/Gilam-Trial-SemiBold.otf") format("otf"), 
			url("../fonts/Gilam-Trial-SemiBold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gilam';
	font-display: swap;
	src: url("../fonts/Gilam-Trial-Regular.eot");
	src: url("../fonts/Gilam-Trial-Regular.woff") format("woff"), 
         url("../fonts/Gilam-Trial-Regular.woff2") format("woff2"), 
			url("../fonts/Gilam-Trial-Regular.ttf") format("truetype"), 
         url("../fonts/Gilam-Trial-Regular.otf") format("otf"), 
			url("../fonts/Gilam-Trial-Regular.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilam';
	font-display: swap;
	src: url("../fonts/Gilam-Trial-Book.eot");
	src: url("../fonts/Gilam-Trial-Book.woff") format("woff"), 
         url("../fonts/Gilam-Trial-Book.woff2") format("woff2"), 
			url("../fonts/Gilam-Trial-Book.ttf") format("truetype"), 
         url("../fonts/Gilam-Trial-Book.otf") format("otf"), 
			url("../fonts/Gilam-Trial-Book.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

/*------General------*/
body{
   background: #171717;
}
.wrapper {
   font-family: 'Gilam';
   color: #FFFFFF;
   font-style: normal;
   font-weight: 700;
   margin: 37px auto 0 auto;
   text-align: center;
}
.container{
   max-width: 1460px;
   margin: 0 auto 0 auto;
}
/*------Header------*/
.header {
   display: flex;
   justify-content: space-between;
}
.header__logo{
   display: flex;
   justify-content: center;
   align-items: center;
}
.btn {
   display:inline-flex;
   align-items: center;
   justify-content: center;
   width: 218px;
   height: 50px;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   color: #E4B564;
   border: 1px solid #E4B564;
}
.header__btn {
   background: #171717;
}
.header__btn img{
   margin-right: 10px;
}

/*------Main content------*/
.main {
}
.main__outheating {
   margin: 120px auto 161px auto;
}
.main__title {
   text-align: left;
   font-size: 50px;
   line-height: 28px;
}
.main__text {
   max-width: 1180px;
   text-align: left;
   margin: 41px 0 41px 0;
   font-size: 20px;
   line-height: 28px;
}
.main__content-outheating {
   min-height: 966px;
   display: grid;
   grid-template-areas:
   "item1  item1 item2 item2 item3 item3"
   "item4 item4 item4 item5 item5 item5";
   grid-template-rows: repeat(2, 1fr);
   grid-template-columns: repeat(6, 1fr);
   grid-gap: 30px;
}
.outheating__item {
   padding: 44px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   line-height: 28px;
}
.outheating__item.item1 {
   background: #634F2C;
   grid-area: item1;
}
.outheating__item.item2 {
   background: #B4A385;
   grid-area: item2;
}
.outheating__item.item3 {
   background: #E4B564;
   grid-area: item3;
}
.outheating__item.item4 {
   background: #635A4A;
   grid-area: item4;
}
.outheating__item.item5 {
   background: #B08C4D;
   grid-area: item5;
}

.main__ownequipment{
}
.main__content-ownequipment {
   margin: 94px 0 191px 0;
   min-height: 895px;
   display: flex;
   flex: 1 1 auto;
}
.ownequipment__column{
   display: flex;
   flex: 1 1 auto;
   flex-direction: column;
   margin-right: 30px;
   max-width: 467px;
}
.ownequipment__column:last-child{
   margin-right: 0;
}
.ownequipment__item {
   padding: 44px 0 0 52px;
   text-align: left;
   display: flex;
   flex: 1 1 auto;
   flex-direction: column;
   font-size: 20px;
   line-height: 28px;
   font-weight: 500;
   margin-bottom: 30px;
}
.ownequipment__item:last-child{
   margin-bottom: 0;
}
.ownequipment__item.item1 {
   background: #0E0E0E;
}
.ownequipment__item.item2 {
   background: #1F1F1F;
   min-height: 560px;
}
.ownequipment__item.item3 {
   background: #242424;
   max-height: 439px;
}
.ownequipment__item.item4 {
   background: #E4B564;
   max-height: 405px;
}
.ownequipment__item.item5 {
   background: #1F1F1F;
   max-height: 255px;
}
.ownequipment__item.item6 {
   background: #0E0E0E;
   min-height: 313px;
}
.ownequipment__item.item7 {
   background: #0A0909;
}

.main__ourclients {
   background: #0E0E0E;
}
.main__ourclients-header {
   padding: 161px 0 61px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.main__btn {
   width: 180px;
   background: #0E0E0E;
}
.main__content-ourclients {
   min-height: 782px;
   display: grid;
   grid-template-areas:
   "item1 item2 item3"
   "item4 item5 item6";
   grid-template-rows: repeat(2, 1fr);
   grid-template-columns: repeat(3, 1fr);
}
.ourclients__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.item1 {
   grid-area: item1;
   background: #634F2C;
}
.item2 {
   grid-area: item2;
   background: rgba(232, 210, 171, 0.76);
}
.ourclients__item-text {
   margin: 16px;
   max-width: 326px;
   font-weight: 500;
   font-size: 22px;
   line-height: 28px;
}
.item3 {
   grid-area: item3;
   background: #E4B564;
}
.item4 {
   grid-area: item4;
   background: #635A4A;
}
.item5 {
   grid-area: item5;
   background: #B08C4D;
}
.item6 {
   grid-area: item6;
   background: #634F2C;
}

/*------Footer------*/
.footer {
   min-height: 239px;
}

